cairocffi==1.7.1
CairoSVG==2.9.0
cffi==2.1.0
cssselect2==0.9.0
defusedxml==0.7.1
numpy==2.3.5
pandas==3.0.1
pillow==12.2.0
pycparser==3.0
python-dateutil==2.9.0.post0
six==1.17.0
tinycss2==1.5.1
tzdata==2026.3
webencodings==0.5.1
